{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div id="background">
  <div id="container">
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns mt-2">
      <div class="column is-two-fifths side-hero">
        <h1 class="title side-hero-title">The Gateway to Your Psychedelic Journey Awaits</h1>
        <div class="side-hero-image">
          <img>
        </div>
      </div>
      <div class="column is-three-fifths py-2 px-2 account-container">
        <h2 class="title">Register</h2>
        <h4 class="subtitle">Begin your trip with us!</h4>
        <p>Join thousands of individuals in supporting psychedelic advocay, research, education, and harm reduction. Create an account with MAPS and begin setting up your profile.</p>
        {% set flashes = {
          'danger':   get_flashed_messages(category_filter=['form-danger']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        {{ f.begin_form(form, flashes) }}
          {{ f.render_form_field(form.name) }}
          {{ f.render_form_field(form.email) }}
          {{ f.render_form_field(form.password) }}
          {{ f.render_form_field(form.password2) }}
          {{ f.form_message(flashes['danger'], header='Something went wrong.', class='danger') }}
          {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
          {{ f.form_message(flashes['info'], header='Information', class='info') }}
          {{ f.form_message(flashes['success'], header='Success!', class='success') }}
          {{ f.render_form_field(form.submit, extra_classes="form-group mt-2") }}
        {{ f.end_form(form) }}
        <p>Already have an account? <a href="{{ url_for('account.login')}}">Login in</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}