html, body {
    background: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
    filter: blur(40px) saturate(5);
  }
  #container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  #container div {
    height: 60%;
    width: 60%;
    background: #ff5fc7;
    background: radial-gradient(circle, #ff514e , #00f7ff);
    opacity: 50%;
    position: absolute;
    border-radius: 50%;
  }