#background {
    background: #0f2a4a;
    position: absolute;
    overflow: hidden;
    height: 110%;
    width: 100%;
    filter: blur(80px) saturate(5);
    z-index: -1;
  }

  #main {
      z-index: 1;
  }

  #container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

  }

  #container div {
    height: 60%;
    width: 60%;
    background: #9249ff;
    background: radial-gradient(circle at 100%, #9249ff 75%, #00f7ff 25%);
    opacity: 50%;
    position: absolute;
    border-radius: 50%;
  }