html, body {
    background: black;
    overflow: hidden;
    height: 100%;
    width: 100%;
    filter: blur(40px) saturate(5);
  }
  #container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  #container div {
    height: 60%;
    width: 60%;
    background: #fc00ff;
    background: radial-gradient(circle, #ff0044 , #00dbde);
    opacity: 50%;
    position: absolute;
    border-radius: 50%;
  }