<!DOCTYPE html>
<html>
  <head>
    {% include '_head.html' %}
    <title>{% block page_title %}{% endblock %}{{ config.APP_NAME }}</title>
    {% block custom_head_tags %}{% endblock %}
  </head>
  <body class="Site">
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div id="logo">
      <img src="https://maps-development-oauth2-server.s3.us-west-2.amazonaws.com/MAPS-Logo-2021-internal.png">
    </div>
    <div id="main">
      {% block nav %}{% endblock %}
      <main class="Site-content">
        {% include '_flashes.html' %}
        {% block content %}{% endblock %}
      </main>
      {% block footer %}{% endblock %}
      {# Implement CSRF protection for site #}
      {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
          <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
      {% endif %}
    </div>

    <script>
      var blobCount = 10;
      function randy(min, max) {
        return Math.floor(Math.random() * (1 + max - min) + min);
      }

      var time = 200,
          tl = new TimelineMax({repeat: -1,yoyo:false}),
          container = document.getElementById("container");
      for (var i = 0; i < blobCount; i++) {
        var div = document.createElement("div");
        container.appendChild(div);
      }
      var blobs = container.children;
      initSettings = [];
      for (var i = 0; i < blobs.length; i++) {
        var init = {};
        init.rot = randy(-2500,2500);
        init.rotX = randy(-2500,2500);
        init.rotY = randy(-2500,2500);
        init.rotZ = randy(-2500,2500);
        init.left = randy(-40,130) + "%";
        init.top = randy(-40,130) + "%";
        initSettings.push(init);
        tl.set(blobs[i], {
          rotation: init.rot,
          rotationX: init.rotX,
          rotationY: init.rotY,
          rotationZ: init.rotZ,
          left: init.left,
          top: init.top,
        });
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*6, {
          rotation: "+="+3600,
          rotationX: "+="+3600,
          rotationY: "+="+3600,
          rotationZ: "+="+3600,
          ease: Power0.easeNone
        }, 0);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*2, {
          left: randy(-40,130) + "%",
          ease: Sine.easeInOut
        }, 0);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time, {
          top: randy(-40,130) + "%",
          ease: Sine.easeInOut
        }, 0);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*2, {
          top: randy(-40,130) + "%",
          ease: Sine.easeInOut
        }, time);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*2, {
          left: randy(-40,130) + "%",
          ease: Sine.easeInOut
        }, time*2);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*2, {
          top: randy(-40,130) + "%",
          ease: Sine.easeInOut
        }, time*3);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time*2, {
          left: initSettings[i].left,
          ease: Sine.easeInOut
        }, time*4);
      }
      for (var i = 0; i < blobs.length; i++) {
        tl.to(blobs[i], time, {
          top: initSettings[i].top,
          ease: Sine.easeInOut
        }, time*5);
      }
    </script>
  </body>
</html>
