{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}

<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<a href="{{ url_for('.home') }}">Home</a>

{{ f.begin_form(form) }}
  {{ f.render_form_field(form.client_name) }}
  {{ f.render_form_field(form.client_uri) }}

  {{ f.render_form_field(form.scope) }}
  {{ f.render_form_field(form.redirect_uri) }}
  {{ f.render_form_field(form.grant_type) }}
  {{ f.render_form_field(form.response_type) }}
  {{ f.render_form_field(form.token_endpoint_auth_method) }}
  {{ f.render_form_field(form.submit, extra_classes="form-group mt-2") }}
{{ f.end_form(form) }}

<!--      
<form action="" method="post">
  <label>
    <span>Client Name</span>
    <input type="text" name="client_name">
  </label>
  <label>
    <span>Client URI</span>
    <input type="url" name="client_uri">
  </label>
  <label>
    <span>Allowed Scope</span>
    <input type="text" name="scope">
  </label>
  <label>
    <span>Redirect URIs</span>
    <textarea name="redirect_uri" cols="30" rows="10"></textarea>
  </label>
  <label>
    <span>Allowed Grant Types</span>
    <textarea name="grant_type" cols="30" rows="10"></textarea>
  </label>
  <label>
    <span>Allowed Response Types</span>
    <textarea name="response_type" cols="30" rows="10"></textarea>
  </label>
  <label>
    <span>Token Endpoint Auth Method</span>
    <select name="token_endpoint_auth_method">
      <option value="client_secret_basic">client_secret_basic</option>
      <option value="client_secret_post">client_secret_post</option>
      <option value="none">none</option>
    </select>
  </label>
  <button>Submit</button>
</form>
 -->

 {% endblock %}