
{% if user %}
<style>pre{white-space:wrap}</style>
<div>Logged in as <strong>{{user.name}}</strong> (<a href="{{ url_for('account.logout') }}">Log Out</a>)</div>

  {% if admin %}
    <p>You're an administrator!</p>
    {% for client in clients %}
    <pre>
    <strong>Client Info</strong>
      {%- for key in client.client_info %}
      <strong>{{ key }}: </strong>{{ client.client_info[key] }}
      {%- endfor %}
    <strong>Client Metadata</strong>
      {%- for key in client.client_metadata %}
      <strong>{{ key }}: </strong>{{ client.client_metadata[key] }}
      {%- endfor %}
    </pre>
    <hr>
    {% endfor %}

    <br><a href="{{ url_for('sfadmin.create_contact') }}">Create Contact</a>

    <br><a href="{{ url_for('sfadmin.create_donation') }}">Create Donation</a>

    <br><a href="{{ url_for('.create_client') }}">Create Client</a>

  {% endif %}





  {% if portal_url %}
    <br><a href="{{ portal_url }}">Customer Portal</a>
  {% endif %}
    <br>
  {% if subscriptions %}
    <b>Subscriptions</b>
    {% for subscription in subscriptions.data %}
      {% set amount = subscription['items']['data'][0]['plan']['amount']|int / 100 %}
      {% set interval = subscription['items']['data'][0]['plan']['interval'] %}
      <p>${{ '%0.2f' % amount|float }} / {{ interval }}</p>
    {% endfor %}
  {% endif %}
  {% if donations %}
    <b>Donations</b>
    {% for donation in donations %}
      {% set amount = donation[0]|int / 100 %}
      {% set date = donation[1] %}
      <p>${{ amount }} given on {{ date }}</p>
    {% endfor %}
  {% endif %}
  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://maps.us5.list-manage.com/subscribe/post?u=860d00d58a6b19e59d6917a89&amp;id=7cdbc3fb5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address*  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <strong>Email Lists </strong>
    <ul><li><input type="checkbox" value="1" name="group[6277][1]" id="mce-group[6277]-6277-0"><label for="mce-group[6277]-6277-0">Email Newsletter</label></li>
<li><input type="checkbox" value="16" name="group[6277][16]" id="mce-group[6277]-6277-1"><label for="mce-group[6277]-6277-1">Zendo Volunteer/Training Opportunities</label></li>
<li><input type="checkbox" value="2" name="group[6277][2]" id="mce-group[6277]-6277-2"><label for="mce-group[6277]-6277-2">Zendo Project Newsletter</label></li>
<li><input type="checkbox" value="4" name="group[6277][4]" id="mce-group[6277]-6277-3"><label for="mce-group[6277]-6277-3">Event/Outreach Volunteer Opportunities</label></li>
<li><input type="checkbox" value="8" name="group[6277][8]" id="mce-group[6277]-6277-4"><label for="mce-group[6277]-6277-4">Study Recruitment Updates</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_860d00d58a6b19e59d6917a89_7cdbc3fb5c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[7]='MMERGE7';ftypes[7]='number';fnames[15]='MMERGE15';ftypes[15]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
{% else %}
<form action="" method="post" role="form">
  {{ form.hidden_tag() }}
  <input type="text" name="username" placeholder="username">
  <button type="submit">Login / Signup</button>
</form>
{% endif %}
